:root{
    --roadSpeed: 2s;
    --roadSpeedx2: 4s;
    --enCarSpeed: 3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 39, 39);
}

main {
    width: 900px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: green;
    overflow: hidden;
}

#road {
    background-color: rgb(69, 63, 63);
    display: flex;
    justify-content: center;
    position: relative;
}

#lines-container-1,
#lines-container-2,
#lines-container-3 {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
}

.lines{
    background-color: white;
    width: 15px;
    height: 110px;
    margin-top: 64px;
}

#lines-container-1{
    animation: lc1-moveDown var(--roadSpeed) linear forwards;
}

@keyframes lc1-moveDown {
    0% {
        top: 0px;
    }
    100% {
        top: 700px;
    }
}

#lines-container-2,
#lines-container-3{
    top: -700px;
    animation: moveDown var(--roadSpeedx2) linear infinite;
}

#lines-container-3{
    animation-delay: var(--roadSpeed);
}

@keyframes moveDown {
    0% {
        top: -700px;
    }
    100% {
        top: 700px;
    }
}

.car{
    position: absolute;
    height: 60px;
    width: 30px;
}

#playerCar {
    background-color: red;
    bottom: 50px;
}

.enemyCar {
    background-color: black;
    top: -40px;
    z-index: 10;
    animation: enCarMoveDown var(--enCarSpeed) linear forwards;
}

@keyframes enCarMoveDown {
    0% {
        top: -40px;
    }
    100% {
        top: 700px;
    }
}

.pause-animation {
    animation-play-state: paused !important;
}